<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, {{.Username}}!</h1>
    <br>
    <a href="/logout">logout</a>
    <a href="/admin">admin</a>
    
    <br>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <div>
        {{range .Images}}
        <img src="/images/{{.Filename}}" alt="Image" style="max-width: 100%; max-height: 500px;">
        <br>
        {{end}}
    </div>
</body>
</html>